<header>
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/about">About</a>
		</li>
	</ul>
	<form method='post' action='/check-user'>
		<input type="text" name='username' placeholder='Enter user'>
		<button type='submit'>Search</button>
	</form>
</header>