.product {
	padding: 45px 0;
	font-family: mont;
	@media (max-width: 576.98px) {
		padding: 35px 0;
	}
}
.product__container { 
	@media (max-width: 767.98px) {
		padding: 0;
	}
}
.product__wrapper {
	display: grid;
	grid-template-columns: 300px auto;
	grid-template-rows: 500px; 
	grid-gap: 35px;
	margin-bottom: 45px;
	@media (max-width: 1199.98px) {
		grid-template-columns: 250px auto;
		grid-template-rows: 450px; 
	}
	@media (max-width: 991.98px) {
		grid-template-columns: 1fr;
		grid-template-rows: 480px auto; 
		grid-gap: 25px;
		margin-bottom: 25px;
	}
	@media (max-width: 767.98px)  {
		grid-template-rows: 400px auto; 
	}
	@media (max-width: 576.98px) {
		grid-template-rows: 350px auto;
	}
	@media (max-width: 479.98px) {
		grid-template-rows: 300px auto;
	}
	@media (max-width: 374.98px) {
		grid-template-rows: 220px auto;
		grid-gap: 15px;
	}
	.product__info {
		position: relative;
		display: flex;
		align-items: end;
		@media (max-width: 991.98px) {
			display: flex;
			align-items: start;
			justify-content: space-between;
			order: 2;
		}
		@media (max-width: 767.98px) {
			padding: 0 15px;
		}
		@media (max-width: 576.98px) {
			padding: 0 10px;
		}
		.product__arrows {
			display: none;
			align-items: center;
			justify-content: space-between;
			@media (max-width: 991.98px) {
				display: flex;
				order: 2
			}
			.product__prev,
			.product__next {
				background: transparent;
				height: 40px;
				width: 40px;
				display: grid;
				place-items: center;
				@media (max-width: 576.98px) {
					height: 28px;
					width: 28px;
				}
				svg {
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}
			.product__prev {
				margin-right: 60px;
				@media (max-width: 576.98px) {
					margin-right: 45px;
				}
			}
			.product__next {
				margin-left: 60px;
				@media (max-width: 576.98px) {
					margin-left: 45px;
				}
			}
		}
		.product__mode {
			font-weight: 900;
			font-size: 32px;
			line-height: 41px;
			display: flex;
			flex-direction: column;
			grid-gap: 10px;
			@media (max-width: 991.98px) {
				order: 1;
			}
			@media (max-width: 576.98px) {
				font-size: 28px;
				line-height: 32px;
				grid-gap: 5px;
			}
		}
		
		.product__play {
			cursor: pointer;
			right: 0;
			bottom: 3px;
			position: absolute;
			height: 40px;
			width: 40px;
			border-radius: 50%;
			border: 2px solid #9E1200; 
			display: grid;
			background: transparent;
			place-items: center;
			padding-left: 5px;
			@media (max-width: 991.98px) {
				top: -5px;
				right: 75px;
				bottom: auto;
				position: absolute;
				height: 50px;
				width: 50px;
			}
			@media (max-width: 767.98px) {
				right: 95px;
			}
			@media (max-width: 576.98px) {
				right: 65px;
				height: 40px;
				width: 40px;
			}
		}
	}
	.product__swiper {
		width:100%;
		height: 100%;
		@media (max-width: 991.98px) {
			order: 1;
		}
		.product__arrows {
			position: absolute;
			bottom: 10px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			.swiper-button-prev,
			.swiper-button-next {
				position: relative;
				margin-top: 0;
				left: 0;
				right: 0;
				height: 26px;
				width: 26px;
				@media (max-width: 991.98px) {
					display: none;
				}
				img {
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
				&::after {
					display: none;
				}
			}
		}
		.swiper-pagination {
			position: relative;
			top: 0;
			left: 0;
			width: max-content;
			margin: 0 25px;
			.swiper-pagination-bullet {
				height: 10px;
				width: 10px;
				background: #6F6F6E;
				border-radius: 50%;
				opacity: 1;
				margin: 0 5px;
			}	
			.swiper-pagination-bullet-active {
				background: #fff;
			}
		}
		.product__item {
			position: relative;
			width: 100%;
			height: 100%;
			img {
				height: 100%;
				width: 100%;
				right: 0;
				top: 0;
				bottom: 0;
				left: 0;
				position: absolute;
			}
		}
	}
}
.product__body {
	@media (max-width: 767.98px) {
		padding: 0 15px;
	}
	@media (max-width: 576.98px) {
		padding: 0 10px;
	}
	.product__title {
		font-weight: 900;
		font-size: 32px;
		line-height: 41px;
		margin-bottom: 15px;
		@media (max-width: 576.98px) {
			font-size: 28px;
			line-height: 32px;
		}
	}
	.product__descr {
		color: #6F6F6E; 
		font-size: 18px;
		line-height: 22px;
		@media (max-width: 576.98px) {
			font-size: 14px;
			line-height: 18px;
		}
	}
}
