.header {
    position: relative;

    &::after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        height: 689px;
        width: 100%;
        background-image: url('../img/bg-top.png');
        background-position: 50% 0;

        z-index: -3;

        @media (max-width: 428.98px) {
            background-image: url('../img/bg-top-mob.png');
            height: 471px;
        }
    }

    @media (max-width: 991.98px) {
        padding: 0px 0 0 0;
    }

    @media (max-width: 576.98px) {
        padding-top: 15px;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        margin-top: 10px;

        img {
            max-width: 100%;
            object-fit: cover;
        }

        @media (max-width: 991.98px) {
            width: 130px;
            margin-top: 0;
        }

        @media (max-width: 576.98px) {
            width: 85px;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-gap: 170px;
        transition: all 0.4s;

        &._active {
            opacity: 1;
            top: 15px;
        }

        .header__sub-btn--mob {
            display: none;
        }

        @media (max-width: 1079.98px) {
            grid-gap: 65px;
        }

        @media (max-width: 991.98px) {
            grid-gap: 0px;
            background-color: #181717;
            padding: 15px 15px 35px 15px;
            position: fixed;
            left: 50%;
            transform: translateX(-50%);
            width: 97%;
            z-index: 5;
            flex-direction: column-reverse;
            opacity: 0;
            top: -50%;

            .header__sub-btn--mob {
                display: block;
            }
        }
    }

    &__social {
        display: flex;
        flex-direction: column;
        align-items: center;

        .header__logo {
            display: none;
        }

        @media (max-width: 991.98px) {
            width: 100%;
            justify-content: space-between;
            flex-direction: row;
            margin-bottom: 42px;

            .header__sub-btn {
                display: none;
            }

            .header__logo {
                display: block;
            }
        }
    }

    &__btn {
        cursor: pointer;
        padding: 11px 27px 11px 55px;
        background-color: transparent;
        border-radius: 50px;
        border: 3px solid #C1DF6C;
        display: flex;
        align-items: center;
        position: relative;
        margin-top: 30px;
        margin-bottom: 12px;

        @media (max-width: 991.98px) {
            margin-top: 0;
            margin-bottom: 0;
        }

        @media (max-width: 576.98px) {
            width: 194px;
            font-size: 14px;
            line-height: 17px;
        }

        @media (max-width: 389.98px) {
            padding: 9px 27px 9px 45px;
            width: 180px;
        }

        p {
            color: #fff;
        }

        span {
            height: 45px;
            width: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: -3px;
            top: 50%;
            transform: translateY(-50%);
            background: linear-gradient(90deg, #C1DF6C 0%, #98D996 100%);
            border-radius: 50%;
            overflow: hidden;

            @media (max-width: 389.98px) {
                height: 40px;
                width: 40px;
            }
        }
    }

    &__sub-btn {
        color: $yellow;
        font-style: italic;
    }

    &__burger {
        position: relative;
        height: 40px;
        width: 40px;
        background: $bg_fiol;
        cursor: pointer;
        border-radius: 50%;
        display: none;

        @media (max-width: 576.98px) {
            height: 30px;
            width: 30px;
        }

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 17px;
            height: 2px;
            background-color: #fff;
            border-radius: 5px;

            @media (max-width: 576.98px) {
                height: 1px;
                width: 15px;
            }
        }

        &:after,
        &:before {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 17px;
            height: 2px;
            background-color: #fff;
            border-radius: 5px;

            @media (max-width: 576.98px) {
                height: 1px;
                width: 15px;
            }
        }

        &:after {
            top: 14px;

            @media (max-width: 576.98px) {
                top: 11px;
            }
        }

        &:before {
            bottom: 14px;

            @media (max-width: 576.98px) {
                bottom: 11px;
            }
        }

        @media (max-width: 991.98px) {
            display: block;
        }
    }
}

.menu {
    display: flex;
    align-items: center;
    grid-gap: 52px;

    @media (max-width: 991.98px) {
        flex-direction: column;
        grid-gap: 20px;
        margin-bottom: 36px;
    }

    li {
        transition: all 0.2s;

        &:hover {
            color: $yellow;
        }
    }
}