.live {
	padding: 45px 0;
}
.live__container {
	width: 920px;
	@media (max-width: 991.98px) {
		width: 760px;
	}
}
.live__head {
	display: grid;
	grid-template-columns: auto 400px;
	grid-gap: 25px;
	
	margin: 0 auto 30px;
	@media (max-width: 991.98px) {
		grid-template-columns: 50% auto;
	}
	@media (max-width: 479.98px) {
		grid-template-columns: 1fr;
	}

	.live__info {
		font-size: 16px;
		line-height: 20px;
	}
	.live__images {
		height: 300px;
		position: relative;
		@media (max-width: 767.98px) {
		height: 250px;
	}
	@media (max-width: 479.98px) {
		height: 300px;
	}
	@media (max-width: 374.98px) {
		height: 250px;
	}
		img {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}
	}
}

.live__descr {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 45px;
}
.live__item {
	.live__title {
		font-size: 36px;
		line-height: 42px;
		color: $red;
		margin-bottom: 15px;
		font-weight: 500; 
		@media (max-width: 576.98px) {
		font-size: 24px;
		line-height: 28px;
	}

	}
	.live__images {
		margin: 20px 0;
		height: 600px;
		width: 800px;
		position: relative;
		@media (max-width: 991.98px) {
		width: 560px;
		height: 500px;
	}
	@media (max-width: 576.98px) {
		width: 100%;
		height: 400px;
	}
	@media (max-width: 374.98px) {
		height: 250px;
	}
		img {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			height: 100%;
			width: 100%;
		}
	}
	.live__sub-title {
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 8px;
	}
	.live__description {
		font-size: 16px;
		line-height: 20px;
	}
	.live__p-title {
		font-size: 42px;
		line-height: 48px;
		margin-bottom: 15px;
	}
	.live__i-title {
		font-size: 36px;
		line-height: 42px;
		color: $red;
		margin-bottom: 15px;
		font-weight: 500; 
		font-style: italic;
	}
	.live__link {} 
	margin-bottom: 45px;
	.live__list {
		margin-top: 15px;
		margin-bottom: 15px;
		li {
			position: relative;
			padding-left: 20px;
			color: $grey-dark;
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 4px;
			&::after {
				position: absolute;
				content: '';
				left: 0;
				top: 8px;
				height: 5px;
				width: 5px;
				background: $red;
				border-radius: 50%;
			}
		}
		li:last-child {
			margin: 0;
		}
	}
}

.live__wrap {
	.live__title {
		font-size: 36px;
		line-height: 42px;
		color: $red;
		margin-bottom: 15px;
		font-weight: 500;
	}
	.live__description {
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 15px;
	}
	.live__list {
		margin-bottom: 25px;
		li {
			position: relative;
			padding-left: 20px;
			color: $grey-dark;
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 4px;
			&::after {
				position: absolute;
				content: '';
				left: 0;
				top: 8px;
				height: 5px;
				width: 5px;
				background: $red;
				border-radius: 50%;
			}
		}
		li:last-child {
			margin: 0;
		}
	}
	margin-bottom: 45px; 
}
.live__footer {
	width: 920px; 
	margin: 0 auto;
	.live__title {
		font-size: 44px;
		line-height: 52px;
		color: $blue;
		text-align: center;
		margin-bottom: 25px;
	}
	.live__arrows {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.live__arrow {}
	.live__prev {
		display: flex;
		align-items: center;
		.live__img {
			margin-right: 25px;
		}
	}
	.live__next {
		display: flex;
		align-items: center;
		text-align: right;
		.live__img {
			margin-left: 25px;
		}
	}
	.live__img {
		margin-right: 25px;
		height: 90px;
		width: 140px;
		position: relative;
		img {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			height: 100%;
			width: 100%;
		}
	}
	.live__text {
		span {
			color: $grey-dark;
			display: block;
			margin-bottom: 5px;
		}
	}
}

.live__inner {
	.live__title {
		font-size: 44px;
		line-height: 52px;
		color: $blue;
		text-align: center;
		margin-bottom: 10px;
	}
	.live__text {	font-size: 16px;
		line-height: 20px;
		margin-bottom: 25px;}
		.live__list {
			li {
				.live__name {
					font-size: 24px;
					line-height: 28px;
					margin-bottom: 10px;
					color: $red;
				}
				.live__descr {font-size: 16px;
					line-height: 20px;}
				}
			}


		}
