.maps {
    padding: 250px 0;
    position: relative;
    z-index: 1;

    @media (max-width: 479.98px) {
        padding: 200px 35px;
    }

    @media (max-width: 374.98px) {
        padding: 170px 30px;
    }
}

.map__adress {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.maps__container {
    position: relative;
}

.maps__box {
    position: absolute;
    padding: 40px 30px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: $white;
    width: 450px;
    border-radius: 8px;
    box-shadow: 3px 3px rgb(65, 106, 176), -1em 0 .4em rgb(163 0 16);

    @media (max-width: 1079.98px) {
        left: 100px;
        padding: 30px 20px;
    }

    @media (max-width: 767.98px) {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @media (max-width: 576.98px) {
        width: 350px;
    }

    @media (max-width: 479.98px) {
        width: 100%;
    }

    @media (max-width: 374.98px) {
        padding: 25px 15px;
    }
}

.maps__logo {
    margin-bottom: 25px;
    display: block;

    img {
        object-fit: cover;
        max-width: 100%;
    }

    @media (max-width: 479.98px) {
        width: 200px;
    }

    @media (max-width: 374.98px) {
        width: 150px;
        margin-bottom: 15px;
    }
}

.maps__title {
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 10px;
    font-weight: 700;

    span {
        color: $red;
    }

    @media (max-width: 1079.98px) {
        font-size: 26px;
    }

    @media (max-width: 374.98px) {
        font-size: 22px;
    }
}

.maps__item {
    font-size: 16px;
    line-height: 100%;
    color: $grey-dark;
    margin-bottom: 10px;
    display: block;
    position: relative;
    padding-left: 25px;

    span {
        position: absolute;
        top: 0;
        left: 0;
        height: 15px;
        width: 15px;

        svg {
            fill: $red;
        }
    }

    @media (max-width: 374.98px) {
        font-size: 14px;
        margin-bottom: 15px;
    }
}