.shop {
 padding: 40px 0 0 0;

 @media (max-width:776.98px) {
  padding: 40px 0 0 0;
 }

 @media (max-width:374.98px) {
  padding: 30px 0 0 0;
 }

 &__container {}

 &__title {
  @extend %title-default;
  margin-bottom: 40px;

  @media (max-width:374.98px) {}
 }

 &__big-container {
  max-width: 1470px;
  margin: 0px auto;
  position: relative;
  height: 620px;
  display: flex;
  justify-content: flex-end;

  @media (max-width:776.98px) {
   flex-direction: column;
   justify-content: initial;
   grid-gap: 40px;
  }
 }

 &__img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;

  @media (max-width:991.98px) {
   left: 35%;
  }

  @media (max-width:776.98px) {
   position: relative;
   left: 0;
   top: 0;
   transform: translate(0, 0);
   order: 2;
  }

  @media (max-width:576.98px) {}
 }

 &__body {
  background-color: $white;
  padding: 24px;
  display: flex;
  flex-direction: column;
  width: 411px;

  @media (max-width:776.98px) {
   width: 100%;
   padding: 0 15px;
  }
 }

 &__info {
  display: none;
  flex-direction: column;
  grid-gap: 24px;
 }

 &__item {}

 &__top {
  position: relative;
  cursor: pointer;
  border-bottom: 0.5px solid #DEDEDB;
  padding-bottom: 24px;

  &::after {
   position: absolute;
   content: '';
   right: 6px;
   top: 9px;
   height: 2px;
   width: 10px;
   background-color: $black;
   transform: rotate(45deg);
  }

  &::before {
   position: absolute;
   content: '';
   right: 0;
   top: 9px;
   height: 2px;
   width: 10px;
   background-color: $black;
   transform: rotate(-45deg);
  }

  &.active {
   &::after {
    transform: rotate(-45deg);
   }

   &::before {
    transform: rotate(45deg);
   }
  }
 }

 &__top.active+.shop__footer {
  display: block;
 }

 &__name {
  font-weight: 600;
  line-height: 130%;
  text-transform: uppercase;
  margin-bottom: 18px;
  pointer-events: none;
 }

 &__adres,
 &__phone {
  pointer-events: none;
  display: flex;
  align-items: center;
  grid-gap: 10px;

  span {
   line-height: 130%;
   letter-spacing: 0.045em;

  }
 }

 &__phone {
  margin-top: 12px;
 }

 &__footer {
  display: none;
  padding: 24px 0;
  border-bottom: 0.5px solid #DEDEDB;
 }

 &__label {
  margin-bottom: 24px;
  font-weight: 600;
  line-height: 130%;
  text-transform: uppercase;
 }

 &__list {
  li {
   display: flex;
   align-items: center;
   grid-gap: 16px;

   span {
    line-height: 130%;
    letter-spacing: 0.045em;

   }
  }
 }

 &__text {
  padding-bottom: 16px;
  margin-bottom: 32px;
  position: relative;
  cursor: pointer;
  border-bottom: 0.5px solid #DEDEDB;

  @media (max-width:776.98px) {
   margin-bottom: 0;
  }

  &:after,
  &:before {
   position: absolute;
   content: '';
   right: 0px;
   top: 9px;
   height: 1.5px;
   width: 12px;
   background-color: $black;
   transform: rotate(-45deg);
   opacity: 0;
  }

  &::before {
   transform: rotate(45deg);
  }

  &.active {
   margin-bottom: 32px;

   &:after,
   &:before {
    opacity: 1;
   }

   span {
    &::after {
     transform: rotate(-45deg);
    }

    &::before {
     transform: rotate(45deg);
    }
   }

  }

  span {
   font-weight: 500;
   font-size: 12px;
   line-height: 100%;
   letter-spacing: 0.02em;
   text-transform: uppercase;
   color: $black;
   position: relative;
   pointer-events: none;

   &::after {
    position: absolute;
    content: '';
    right: -15px;
    top: 6px;
    height: 2px;
    width: 8px;
    background-color: $black;
    transform: rotate(45deg);
   }

   &::before {
    position: absolute;
    content: '';
    right: -20px;
    top: 6px;
    height: 2px;
    width: 8px;
    background-color: $black;
    transform: rotate(-45deg);
   }
  }
 }

 &__text.active+.shop__info {
  display: flex;
 }
}