<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="/css/main.css">
</head>

<body>
	<%- include('layout/header') -%>
		<main>
			<h1>Home page</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt temporibus quo accusantium ullam. Quod
				cupiditate pariatur aliquam deserunt incidunt, odit distinctio ad. A numquam explicabo porro, minus inventore
				nam
				adipisci!</p>
		</main>
</body>

</html>