@font-face {
	font-family: CormorantGaramond;
	font-display: swap;
	src: url("../fonts/CormorantGaramond-Bold.woff2") format("woff2"), url("../fonts/CormorantGaramond-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: CormorantGaramond;
	font-display: swap;
	src: url("../fonts/CormorantGaramond-BoldItalic.woff2") format("woff2"), url("../fonts/CormorantGaramond-BoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: mont;
	font-display: swap;
	src: url("../fonts/mont-heavy-demo.woff2") format("woff2"), url("../fonts/mont-heavy-demo.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: HelveticaInseratLTStd;
	font-display: swap;
	src: url("../fonts/HelveticaInseratLTStd-Roman.woff2") format("woff2"), url("../fonts/HelveticaInseratLTStd-Roman.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: CormorantGaramond;
	font-display: swap;
	src: url("../fonts/CormorantGaramond-Regular.woff2") format("woff2"), url("../fonts/CormorantGaramond-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: CormorantGaramond;
	font-display: swap;
	src: url("../fonts/CormorantGaramond-LightItalic.woff2") format("woff2"), url("../fonts/CormorantGaramond-LightItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
