.condition {
	margin: 0 0 140px 0;
}
.condition__container {}
.condition__title {
	@extend %title_fz_45;
}
.condition__body {
	padding: 80px 50px;
	display: grid;
	grid-template-columns: 400px 620px;
	position: relative;
	&::after {
		position: absolute;
		content: '';
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		background: $grey-light;
		height: 100%;
		width: 102%;
		z-index: -1;
		border-radius: 24px 0px 0px 24px; 
	}
}
.condition__info {
	font-size: 26px;
	line-height: 130%;
}
.condition__list {
	li {
		font-size: 20px;
		line-height: 150%;
		margin: 0 0 15px 0;
		padding-left: 58px;
		position: relative;
		&::after {
			position: absolute;
			content: '';
			left: 0;
			top: 17px;
			width: 28px;
			height: 1px;
			background: $dark;
		}
	}
} 