.main {
 .goods {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  display: none;


  &__wrap {
   display: flex;
   grid-gap: 6px;
   min-height: 318px;
   background: $white;
   border-radius: 40px;
   padding: 19px 19px 19px 24px;

   &.active {
    display: flex;
   }

   @media (max-width:1279.98px) {
    padding: 15px;
   }

   @media (max-width:991.98px) {
    min-height: unset;
    background: transparent;
    border-radius: 0;
    padding: 0;
    width: 100%;
    display: none;
   }

  }

  &__item {
   display: flex;
   flex-direction: column;
   padding-top: 18px;

   @media (max-width:991.98px) {
    display: none;
   }
  }

  &__title {
   font-family: $roboto;
   font-weight: 500;
   font-size: 30px;
   line-height: 35px;
  }

  &__text {
   font-size: 18px;
   line-height: 22px;
   margin-top: auto;
   margin-bottom: 5px;

  }

  &__logo {
   img {
    max-width: 100%;
    object-fit: cover;
   }
  }

  &__body {
   align-items: center;
   grid-gap: 24px;
   display: grid;
   grid-template-columns: 32px auto 32px;

   @media (max-width:1279.98px) {
    grid-gap: 15px;
   }

   @media (max-width:991.98px) {
    grid-template-columns: 100%;
    width: 100%;
   }
  }

  &__prev,
  &__next {
   height: 32px;
   width: 32px;
   border-radius: 10px;
   background: #FFFFFF;
   box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-right: 3px;

   @media (max-width:991.98px) {
    display: none;
   }
  }

  &__next {
   padding-left: 3px;
  }

  &__swiper,
  &__swiper-second {
   padding: 5px 5px 5px 6px;
   width: 100%;
   height: 100%;

   @media (max-width:991.98px) {
    padding: 0;
    overflow: visible;
   }

   .swiper-slide {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    height: 100%;
    padding: 17px 17px 11px 17px;
    text-align: center;

    @media (max-width:991.98px) {
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     border-radius: 10px;
    }

    @media (max-width:479.98px) {
     padding: 14px 10px 8px 10px;
    }
   }

   .swiper-wrapper {
    @media (max-width:991.98px) {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: 250px;
     grid-gap: 16px;
    }

    @media (max-width:767.98px) {
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: 200px;
    }

    @media (max-width:576.98px) {
     grid-template-rows: auto;
    }
   }
  }

  &__img {
   margin-bottom: 10px;
   display: flex;
   align-items: center;
   justify-content: center;

   picture {
    height: inherit;
   }

   @media (max-width:991.98px) {
    padding: 15px 15px;
    padding: 0;
    height: 180px;

    img {
     max-height: 100%;
    }
   }

   @media (max-width:767.98px) {
    height: 130px;
   }

   @media (max-width:576.98px) {
    height: 100px;
   }

   @media (max-width:479.98px) {
    height: 70px;
   }

   img {
    max-width: 100%;
    object-fit: cover;
   }
  }

  &__btn {
   width: 127px;
   cursor: pointer;
   padding: 10px;
   letter-spacing: -0.005em;
   font-weight: 500;
   color: $white;
   background: $blue-dark;
   border-radius: 50px;

   @media (max-width:1279.98px) {
    width: 99px;
    font-size: 12px;
    line-height: 12px;
   }

   @media (max-width:576.98px) {
    font-size: 10px;
    line-height: 12px;
    width: 75px;
    padding: 5px 12px;
   }

   @media (max-width:374.98px) {
    font-size: 8px;
    line-height: 10px;
    padding: 3px 10px;
    width: 59px;
   }
  }

  &__more {
   height: 70px;
   width: 70px;
   display: flex;
   justify-content: center;
   cursor: pointer;
   margin-left: auto;
   padding-top: 5px;
   padding-right: 3px;
   align-items: center;
   background: $blue-dark;
   border-radius: 50%;

   @media (max-width:991.98px) {
    display: none;
   }
  }
 }
}